!!! 5
html.no-js
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	title The artwork of Sean Frangella
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	//link(rel='shortcut icon' href='http://viytale.com/favicon.ico')
	link(rel='stylesheet', href='style.css')
	body
		header.container
			img(src="http://placehold.it/385x175")
			nav#social
				ul.nav.nav-pills
					li
						a(href='http://www.vimeo.com/SeanFrangella' class='symbol' title='circlevimeo')
					li
						a(href='http://www.youtube.com/user/SeanFrangella' class='symbol' title='circleyoutube') 
					li
						a(href='http://www.behance.net/NandorockerDesign' class='symbol' title='circlebehance') 
					li
						a(href='http://www.linkedin.net/in/SeanFrangella' class='symbol' title='circlelinkedin') 
					li
						a(href='http://www.flickr.com/photos/SeanFrangella' class='symbol' title='circleflickr') 
					li
						a(href='http://www.facebook.com/SeanFrangella' class='symbol' title='circlefacebook') 
					li
						a(href='http://www.twitter.com/SeanFrangella' class='symbol' title='circletwitter') 
			.subtitle Creative work, animation tutorials and talks about design.
		nav#main.navbar.navbar-default
			ul.nav.nav-pills
				li
					a(href='#') animation
				li
					a(href='#') illustration
				li
					a(href='#') design
				li 
					a(href='#') tutorials
				li 
					a(href='#') speaking
				li 
					a(href='#') about
				li 
					a(href='#') email me

		// Begin work
		.container
			.social-likes
				img(src='http://placehold.it/240x30')

			.highlight-main			
				img(src='http://placehold.it/900x505')
				a(href='').more more animation &amp; VFX work

			.tutorials
				h3 Tutorials
				.work-item
					img(src='http://placehold.it/295x170')
					h2.title Project title lorem ipsum dolor sit
					p.description Project description lorem ipsum dolor sit
				.work-item
					img(src='http://placehold.it/295x170')
					h2.title Project title lorem ipsum dolor sit
					p.description Project description lorem ipsum dolor sit
				a(href='').more more tutorials

			.talking
				h3 Talking about design
				.work-item
					img(src='http://placehold.it/295x170')
				a(href='').more more creative industry talks

			.featured-work
				h2 Featured Work
				.work-item
					img(src='http://placehold.it/295x170')
					h2.title Project title lorem ipsum dolor sit
					p.description Project description lorem ipsum dolor sit
				.work-item
					img(src='http://placehold.it/295x170')
					h2.title Project title lorem ipsum dolor sit
					p.description Project description lorem ipsum dolor sit
				.work-item
					img(src='http://placehold.it/295x170')
					h2.title Project title lorem ipsum dolor sit
					p.description Project description lorem ipsum dolor sit
		// End work

		footer.navbar.navbar-default
			ul.nav.nav-pills
				li
					a(href='#') animation
				li
					a(href='#') illustration
				li
					a(href='#') design
				li 
					a(href='#') tutorials
				li 
					a(href='#') speaking
				li 
					a(href='#') about
				li 
					a(href='#') email me


		//- Start Script Imports	
		script(src='js/vendor/jquery-1.10.1.min.js')
		script(src='js/main.js')
		script
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-19669787-1', '.viytale.com');
			ga('send', 'pageview');